<div class="container">
  <div>
    <select id="select-video" ng-model="selectedItem">
      <option value="">選んでください...</option>
      <option ng-repeat="item in items" value="{{item.id}}">{{item.title}}</option>
    </select>
    を
    <input id="input-days" type="text" required ng-model="days">日
    <button id="rental" type="button" ng-click="rental()">借りる</button>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>種類</th>
        <th>金額</th>
      </tr>
      <tr>
        <td>新作</td>
        <td>一日 300 円。</td>
      </tr>
      <tr>
        <td>旧作</td>
        <td>二日までは 200 円。三日目からは一日 150 円。</td>
      </tr>
      <tr>
        <td>子供向け</td>
        <td>三日までは 300 円。四日目からは一日 150 円。</td>
    </table>
  </div>
</div>
